 .app-header h1{
  margin: 50px 0px 50px 0px ;
  font-size: 60px;

 }
 .app-header h1:hover{
  color: rgb(142, 18, 18);
 }
 .App {
  background-image: url("https://images.pexels.com/photos/8640338/pexels-photo-8640338.jpeg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
 }

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  border-radius: 30px;
  border: solid 5px rgb(142, 18, 18);
  background-image: url("https://images.pexels.com/photos/7216000/pexels-photo-7216000.jpeg");
  background-position: center;
  background-size: cover;
  max-width: 300px;
  padding: 30px;
  margin: 10px;
  color: black;
  overflow: scroll;  
}


.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 1200px;
  margin: 0 auto;
  background: #ffffff url("https://images.pexels.com/photos/8640338/pexels-photo-8640338.jpeg") cover no-repeat center center;
}

#randing {
  color: black !important;
}


.ingredients p, .instructions p{
  text-align: left;  
  font-weight: bold;
  color: #ffffff;
  
}

.instructions p{
  line-height: 1.5;
}


.srcthum {
  background-position: center;
  background-size: auto;
  max-width: 300px;
   
}

button {
  display: inline;
  background-color: rgb(185, 174, 174) ;
}

.links button {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: solid 5px rgb(142, 18, 18);
  width: 200px;
  
}

#input{
  padding: 20px;
}

#input input{
  border-radius: 10px;

}

#input button{
  margin-left: 10px;
  border-radius: 10px;
  border: solid 2px rgb(142, 18, 18);
}

.links button a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;

}

.drinks {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  color: black;
  overflow: hidden;
}  


.img-thumb  {
  background-image:url("https://images.pexels.com/photos/7216000/pexels-photo-7216000.jpeg");
  background-position: center;
  background-size: 500px;
  display: flex;
  flex-wrap: wrap;
  max-width: 325px;
  border-radius: 30px;
  border:solid 10px rgb(142, 18, 18);
}



.previewCards {
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 17em;
  height: 23em;
  background-image:url("https://images.pexels.com/photos/7216000/pexels-photo-7216000.jpeg");
  background-position: center;
  background-size: 500px;
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: black;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: 1s;
}


.randimg {
  border-radius: 30px;
  border:solid 10px grey;
  color: black;
}

.randomDrinks {
  padding: 5em;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  background-color: red;
  color: black;
}




