.modal {
    background-color: red;
    margin: 60px auto;
    max-height: 600px;
    max-width: 600px;
    border-radius: 30px;
    max-width: 200px;
    max-height: 600px;
}

.modal, .overlay {
    width: 60vw;
    height: 70vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.ingredientsm {
    text-align: left;
    color: #ffffff !important;
}

.instructions_p {
    max-width: 300px;
    margin-bottom: 0;
    text-align: left;
    text-align: left;  
    font-weight: bold;
    color: #ffffff;
    padding-left: 20px;
}

.close-modal {
    position: absolute;
    right: -170px;
    top: 20px;
    border-radius: 25px;
}

.modalCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  border-radius: 30px;
  border: solid 15px rgb(142, 18, 18);
  background-image: url("https://images.pexels.com/photos/7216000/pexels-photo-7216000.jpeg");
  background-position: center;
  background-size: cover;
  max-width: 300px;
  max-height: 800px;
  padding: 30px;
  margin: 0 auto;
  color: rgb(142, 18, 18);
  box-shadow: 15px 15px 30px rgb(39, 38, 38);
  overflow: scroll;
}